# Ignore all .txt files inside the data/ folder and subdirectories
data/**/*.txt

# Ignore all contents of the vectorstore folder (including files and subdirectories)
data/vectorstore/*

# Keep the vectorstore folder itself (empty)
!data/vectorstore/

# Keep the JSON files (for example, for eurlex_results.json)
!data/**/*.json

# Keep the folder structure for the data folder and its subdirectories
!data/**/

# Ignore Python-related files, caches, etc.
venv/
__pycache__/
*.pyc
*.log
.env