# Ignore all .txt files inside the data/ folder and subdirectories
data/**/*.txt

# Ignore the contents of the vectorstore folder (but keep the folder itself)
data/vectorstore/*

# Keep the JSON files (for example, for eurlex_results.json)
!data/**/*.json

# Keep the folder structure for the data folder and its subdirectories
!data/**/

# Ignore Python-related files, caches, etc.
venv/
__pycache__/
*.pyc
*.log
.env